<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sale.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="C:\GITHUB\GRIDVIEW_ALLOWCUSTOMPAGING\APP_DATA\SALE.MDFConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\GITHUB\GRIDVIEW_ALLOWCUSTOMPAGING\APP_DATA\SALE.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>